# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3
